{% extends "form_base.html" %}
{% block content %}
        <p class="alert alert-success">Excelent! You are now part of a new company </p>
        <p><span class="text-center fuchsia">{{ COMPANY }}</span> appoint you as a {{COMPANY_ROLE}} </p>
        </br>
        <p class="text-center ">Company ID to login: {{ COMPANY_ID }} </p>
        </br>
        <p class="text-center">Please, go back to JobCore and <a href="https://employer.jobcore.co/" target="_blank">sign in</a></p>
    </body>
</html>
{% endblock %}