{% extends "form_base.html" %}
{% block content %}
        <form action="#">
            <h2>Please fill the following form to reset your password:</h2>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><input type="email" class="form-control rounded" readOnly="readOnly" value="{{ email }}" /></td>
                </tr>
                <tr>
                    <td><input id="new_password" type="password" class="form-control rounded" placeholder="Your new password" /></td>
                </tr>
                <tr>
                    <td><input id="repeat_password" type="password" class="form-control rounded" placeholder="Repeat the new password" /></td>
                </tr>
                <tr>
                    <td><button id="submit" class="btn btn-primary form-control">Reset Password</button></td>
                </tr>
            </table>
        </form>
        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            window.onload = function(){
                let form = document.querySelector('form');
                let csrftoken = getCookie('csrftoken');

                form.addEventListener('submit', function(e){
                    e.preventDefault();
                    let newPass = document.querySelector('#new_password').value;
                    let repPass = document.querySelector('#repeat_password').value;
                    let token = '{{ token }}';
                    
                    fetch('/api/user/password/reset', {
                        method: 'PUT',
                        headers: {
                            "Content-Type": "application/json; charset=utf-8",
                            "X-CSRFToken": csrftoken
                        },
                        body: JSON.stringify({
                            token: token,
                            new_password: newPass,
                            repeat_password: repPass
                        })
                    })
                    .then(function(resp){
                        if(resp.ok){
                            var form = document.querySelector('form');
                            form.innerHTML = '<p class="alert alert-success">The password has been changed successfully</p>' +
                            '<p style="text-align: center;">You can go ahead an login with your new password</p>';
                        }
                    });
                });
            }

        </script>
    </body>
</html>
{% endblock %}