#django stuff
SECRET_KEY=
DEBUG=TRUE

# Database stuff
DATABASE_URL=postgres://db_user:db_pass@db_server:5432/db_name
TIME_ZONE=UTC

# App URL
EMPLOYEE_URL=https://jobcore.co/talent
EMPLOYER_URL=https://employer.jobcore.co
API_URL=https://jobcore-api-alesanchezr.c9users.io

# Notification
ENABLE_NOTIFICATIONS=TRUE
BROADCAST_NOTIFICATIONS_BY_EMAIL=FALSE

# Cloud services
MAILGUN_API_KEY=asdasdadsasdasdasd
MAILGUN_FROM=asdasdasd
FIREBASE_KEY=idhsdfjksfdkjsdafhfsd
CLOUDINARY_URL=cloudinary://_____:_____@_____